IHIS_KL_DEV.git/Default/ExternalPropFiles_Backup.wf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mz:schema xmlns:mz="http://www.w3.org/2001/XMLSchema">
    <mz:include schemaLocation="mz_simpleTypes.xsd"/>
    <mz:element name="config_data">
        <mz:complexType>
            <mz:sequence>
                <mz:element name="dr.Configuration" type="storable"/>
            </mz:sequence>
        </mz:complexType>
    </mz:element>
    <mz:complexType name="dr.Configuration">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Access_Groups_-----.read_-----.write_-----.execute">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="string"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Auxiliary_Data" type="storable"/>
                    <mz:element name="Data" type="storable"/>
                    <mz:element name="documentation" type="string"/>
                    <mz:element name="parameters" type="string"/>
                    <mz:element name="Current_Comment" type="string"/>
                </mz:sequence>
                <mz:attribute name="Key" type="string"/>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Type" type="string"/>
                <mz:attribute name="Folder" type="string"/>
                <mz:attribute name="Owner" type="string"/>
                <mz:attribute name="encrypted" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ConfigAuxData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Entries" type="map"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowTaskData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Nodes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Routes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Service">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Logged_error_MIM">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Execution_Config" type="storable"/>
                    <mz:element name="dyn" type="storable"/>
                    <mz:element name="External_Reference_Profile" type="storable"/>
                    <mz:element name="External_Reference_Values" type="map"/>
                    <mz:element name="External_Reference_Lists" type="map"/>
                    <mz:element name="External_Reference_Maps" type="map"/>
                </mz:sequence>
                <mz:attribute name="Workflow_ID_Counter" type="long"/>
                <mz:attribute name="Template_Valid" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNode">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="ID" type="int"/>
                    <mz:element name="Configuration">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="XYposition" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNodeConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Data" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Type" type="int"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ScriptTaskData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Script_Name" type="contractfield"/>
                    <mz:element name="Parameters" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ScriptTaskData.scriptName">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ScriptTaskData.parameters">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfRoute--.StorablePoint">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="X_position" type="int"/>
                <mz:attribute name="Y_position" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Execution_Settings" type="contractfield"/>
                    <mz:element name="Throughput_MIM" type="contractfield"/>
                    <mz:element name="Debug_Type" type="contractfield"/>
                    <mz:element name="Number_of_Files_to_Keep" type="contractfield"/>
                    <mz:element name="Transaction_Handler" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.executionSettings">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ExecutionSettings">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="enabled" type="boolean"/>
                    <mz:element name="ecList">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="dist" type="enum"/>
                    <mz:element name="groupList">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="autostart" type="storable"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.PicoInstanceEntity">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Name" type="string"/>
                    <mz:element name="Type" type="int"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.AutoStartSettings">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="enabled" type="boolean"/>
                    <mz:element name="instances" type="int"/>
                    <mz:element name="abort_behaviour" type="enum"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.throughputMIM">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.debugType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.noOfFilesToKeep">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.txnHandler">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DynamicConfigStorableDefinition">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="fields">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
</mz:schema>
