IHIS_KL_DEV.git/Default/test1.wf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mz:schema xmlns:mz="http://www.w3.org/2001/XMLSchema">
    <mz:include schemaLocation="mz_simpleTypes.xsd"/>
    <mz:element name="config_data">
        <mz:complexType>
            <mz:sequence>
                <mz:element name="dr.Configuration" type="storable"/>
            </mz:sequence>
        </mz:complexType>
    </mz:element>
    <mz:complexType name="dr.Configuration">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Access_Groups_-----.read_-----.write_-----.execute">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="string"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Auxiliary_Data" type="storable"/>
                    <mz:element name="Data" type="storable"/>
                    <mz:element name="documentation" type="string"/>
                    <mz:element name="parameters" type="string"/>
                    <mz:element name="Current_Comment" type="string"/>
                </mz:sequence>
                <mz:attribute name="Key" type="string"/>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Type" type="string"/>
                <mz:attribute name="Folder" type="string"/>
                <mz:attribute name="Owner" type="string"/>
                <mz:attribute name="encrypted" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ConfigAuxData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Entries" type="map"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowBatchData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Nodes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Routes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Service">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Logged_error_MIM">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Execution_Config" type="storable"/>
                    <mz:element name="dyn" type="storable"/>
                    <mz:element name="External_Reference_Profile" type="storable"/>
                    <mz:element name="External_Reference_Values" type="map"/>
                    <mz:element name="External_Reference_Lists" type="map"/>
                    <mz:element name="External_Reference_Maps" type="map"/>
                    <mz:element name="Error_UDR_type_name" type="storable"/>
                    <mz:element name="Error_map" type="map"/>
                    <mz:element name="Audit_Profile" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Workflow_ID_Counter" type="long"/>
                <mz:attribute name="Template_Valid" type="boolean"/>
                <mz:attribute name="Cancel_batch_type" type="int"/>
                <mz:attribute name="Cancel_batch_count" type="int"/>
                <mz:attribute name="Error_code" type="string"/>
                <mz:attribute name="Log_On_CB" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNode">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="ID" type="int"/>
                    <mz:element name="Configuration">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="XYposition" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNodeConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Data" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Type" type="int"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Route_File_Reference_UDR" type="contractfield"/>
                    <mz:element name="CollectionStrategyName" type="contractfield"/>
                    <mz:element name="StrategyCombinationClass" type="contractfield"/>
                    <mz:element name="StrategyClasses" type="contractfield"/>
                    <mz:element name="StrategyConfigs" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData.routeFileRef">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData.collectionStrategyName">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData.strategyCombinationClass">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData.strategyClasses">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="string"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskAdvInputData.strategyConfigs">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultFileInfoConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="BaseDir" type="contractfield"/>
                    <mz:element name="Subfolders" type="contractfield"/>
                    <mz:element name="RegExp" type="contractfield"/>
                    <mz:element name="CompressionType" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultFileInfoConfig.baseDir">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultFileInfoConfig.subfolders">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultFileInfoConfig.fileRegExp">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultFileInfoConfig.compType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfigExt">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Move_before" type="contractfield"/>
                    <mz:element name="Move_Suffix" type="contractfield"/>
                    <mz:element name="Max_idle_time" type="contractfield"/>
                    <mz:element name="Retrieval_behaviour" type="contractfield"/>
                    <mz:element name="Move_to_directory" type="contractfield"/>
                    <mz:element name="Filename_prefix" type="contractfield"/>
                    <mz:element name="Filename_suffix" type="contractfield"/>
                    <mz:element name="Filename_search" type="contractfield"/>
                    <mz:element name="Filename_replace_value" type="contractfield"/>
                    <mz:element name="Keep_interval" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.moveBeforeRetrieval">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.moveSuffix">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.idleTime">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbDirectory">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbRenamePrefix">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbRenameSuffix">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbSearch">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbReplace">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DefaultSourceFileHandlingConfig.rbKeepInterval">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfigExtension">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Is_enabled" type="contractfield"/>
                    <mz:element name="Start_position" type="contractfield"/>
                    <mz:element name="Sequence_no_length" type="contractfield"/>
                    <mz:element name="Wrap_on_sequence_no" type="contractfield"/>
                    <mz:element name="Wrap_to_sequence_no" type="contractfield"/>
                    <mz:element name="Next_sequence_no" type="contractfield"/>
                    <mz:element name="Seq_No_Check" type="long"/>
                    <mz:element name="Shall_warn_on_out_of_sequence" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.enabled">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.startPos">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.seqNoLen">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.wrapOnSeqNo">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="long"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.wrapToSeqNo">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="long"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfigExtension--.NextSeqNoExt">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="long"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNSServiceConfig.shallWarnOnOutOfSequence">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Is_enabled" type="contractfield"/>
                    <mz:element name="Order_type" type="contractfield"/>
                    <mz:element name="Pattern_type" type="contractfield"/>
                    <mz:element name="Start_position" type="contractfield"/>
                    <mz:element name="Length" type="contractfield"/>
                    <mz:element name="Regular_expression" type="contractfield"/>
                    <mz:element name="Sort_type" type="contractfield"/>
                    <mz:element name="Ignore_case" type="contractfield"/>
                    <mz:element name="Sort_order" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.enabled">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.orderType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.patternType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.startPos">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.length">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.regExp">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.sortType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.ignoreCase">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFileInfoSortOrderServiceConfig.sortOrder">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfRoute--.StorablePoint">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="X_position" type="int"/>
                <mz:attribute name="Y_position" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DupBatchConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Profile_Key" type="contractfield"/>
                    <mz:element name="Named_MIM_entries" type="contractfield"/>
                    <mz:element name="Logged_MIM_entries" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DupBatchConfig.profile">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRConfiguration">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="Key" type="string"/>
                <mz:attribute name="Type" type="string"/>
                <mz:attribute name="Folder" type="string"/>
                <mz:attribute name="Name" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DupBatchConfig.mimMap">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DupBatchConfig.loggedMIM">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="string"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Source_code" type="contractfield"/>
                    <mz:element name="UDR_types" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData.sourceCode">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData.udrTypes">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRTypeInfo">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="TypeName" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRThreadBufferConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Advanced_Own_Thread" type="contractfield"/>
                    <mz:element name="Thread_Print_Stats" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRThreadBufferConfig.useOwnThread">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRThreadBufferConfig.printStats">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Distribution_directory" type="contractfield"/>
                    <mz:element name="Compression" type="contractfield"/>
                    <mz:element name="Command" type="contractfield"/>
                    <mz:element name="Arguments" type="contractfield"/>
                    <mz:element name="Create_empty_files" type="contractfield"/>
                    <mz:element name="Create_Non-----.Existing_Base_Directory" type="contractfield"/>
                    <mz:element name="Input_type" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.directory">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.compType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.command">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.arguments">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.createEmpty">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.createNonExistingBaseDir">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DiskOutputData.inputType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNTServiceConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="FNT_Entries" type="contractfield"/>
                    <mz:element name="FNT---.CREATE---.DIRS" type="contractfield"/>
                    <mz:element name="FNT_list_enabled" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNTServiceConfig.entries">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNTServiceEntry">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="Mim_entry" type="string"/>
                <mz:attribute name="User_entry" type="string"/>
                <mz:attribute name="Size" type="int"/>
                <mz:attribute name="Pad" type="string"/>
                <mz:attribute name="Alignment" type="int"/>
                <mz:attribute name="Trailing_separator" type="string"/>
                <mz:attribute name="Date_format" type="string"/>
                <mz:attribute name="Delimiter" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNTServiceConfig.createNonExistDirectories">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRFNTServiceConfig.---.FNTListEnabled">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfRoute">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="ID" type="int"/>
                    <mz:element name="Source_ID" type="int"/>
                    <mz:element name="Destination_ID" type="int"/>
                    <mz:element name="Stroke_points">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Route_type" type="int"/>
                <mz:attribute name="Realtime_mode" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Execution_Settings" type="contractfield"/>
                    <mz:element name="Throughput_MIM" type="contractfield"/>
                    <mz:element name="Debug_Type" type="contractfield"/>
                    <mz:element name="Number_of_Files_to_Keep" type="contractfield"/>
                    <mz:element name="Transaction_Handler" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.executionSettings">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ExecutionSettings">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="enabled" type="boolean"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.throughputMIM">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.debugType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.noOfFilesToKeep">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.txnHandler">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DynamicConfigStorableDefinition">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="fields">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
</mz:schema>
