ZZR_SVC0002/WFL_Forwarding_Stub.wf.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mz:schema xmlns:mz="http://www.w3.org/2001/XMLSchema">
    <mz:include schemaLocation="mz_simpleTypes.xsd"/>
    <mz:element name="config_data">
        <mz:complexType>
            <mz:sequence>
                <mz:element name="dr.Configuration" type="storable"/>
            </mz:sequence>
        </mz:complexType>
    </mz:element>
    <mz:complexType name="dr.Configuration">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Access_Groups_-----.read_-----.write_-----.execute">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="string"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Auxiliary_Data" type="storable"/>
                    <mz:element name="Data" type="storable"/>
                    <mz:element name="documentation" type="string"/>
                    <mz:element name="parameters" type="string"/>
                    <mz:element name="Current_Comment" type="string"/>
                </mz:sequence>
                <mz:attribute name="Key" type="string"/>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Type" type="string"/>
                <mz:attribute name="Folder" type="string"/>
                <mz:attribute name="Owner" type="string"/>
                <mz:attribute name="encrypted" type="boolean"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ConfigAuxData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Entries" type="map"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowRealtimeData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Nodes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Routes">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Service">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Logged_error_MIM">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="Execution_Config" type="storable"/>
                    <mz:element name="dyn" type="storable"/>
                    <mz:element name="External_Reference_Profile" type="storable"/>
                    <mz:element name="External_Reference_Values" type="map"/>
                    <mz:element name="External_Reference_Lists" type="map"/>
                    <mz:element name="External_Reference_Maps" type="map"/>
                    <mz:element name="Timer_Trigger" type="storable"/>
                    <mz:element name="Thread_data" type="storable"/>
                    <mz:element name="Persistent" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Workflow_ID_Counter" type="long"/>
                <mz:attribute name="Template_Valid" type="boolean"/>
                <mz:attribute name="Flow_Counters_Interval" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNode">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="ID" type="int"/>
                    <mz:element name="Configuration">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="XYposition" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfNodeConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Data" type="storable"/>
                </mz:sequence>
                <mz:attribute name="Type" type="int"/>
                <mz:attribute name="Classname" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="http---.address" type="contractfield"/>
                    <mz:element name="profile" type="contractfield"/>
                    <mz:element name="transport" type="contractfield"/>
                    <mz:element name="workflowResponseTimeout" type="contractfield"/>
                    <mz:element name="idleTimeout" type="contractfield"/>
                    <mz:element name="enableBasicAuthentication" type="contractfield"/>
                    <mz:element name="httpUsername" type="contractfield"/>
                    <mz:element name="httpPassword" type="contractfield"/>
                    <mz:element name="enableValidation" type="contractfield"/>
                    <mz:element name="enableRouteRawXML" type="contractfield"/>
                    <mz:element name="routeRawXMLTo" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.httpAddress">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.profile">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRConfiguration">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="Key" type="string"/>
                <mz:attribute name="Type" type="string"/>
                <mz:attribute name="Folder" type="string"/>
                <mz:attribute name="Name" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.transport">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.workflowResponseTimeout">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.idleTimeout">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.enableBasicAuthentication">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.httpUsername">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.httpPassword">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="password"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.enableValidation">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.enableRouteRawXML">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WSCollData.routeRawXMLTo">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfRoute--.StorablePoint">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="X_position" type="int"/>
                <mz:attribute name="Y_position" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Source_code" type="contractfield"/>
                    <mz:element name="UDR_types" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData.sourceCode">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.StuffyMapperData.udrTypes">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="array">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DRTypeInfo">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence/>
                <mz:attribute name="TypeName" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="RFC_Profile_Key" type="contractfield"/>
                    <mz:element name="enableSecuredConnection" type="contractfield"/>
                    <mz:element name="maxIdleConnections" type="contractfield"/>
                    <mz:element name="maxActiveConnections" type="contractfield"/>
                    <mz:element name="queueSize" type="contractfield"/>
                    <mz:element name="executorSize" type="contractfield"/>
                    <mz:element name="cacheSize" type="contractfield"/>
                    <mz:element name="cacheExpiry" type="contractfield"/>
                    <mz:element name="enableImmediateStop" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.rfcProfile">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.enableConnectionPool">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.jCoPoolCapacity">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.jCoPeakLimit">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.queueSize">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.executorSize">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.cacheSize">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.cacheExpiry">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="rfc.agent.contract.enableImmediateStop">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WfRoute">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="ID" type="int"/>
                    <mz:element name="Source_ID" type="int"/>
                    <mz:element name="Destination_ID" type="int"/>
                    <mz:element name="Stroke_points">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
                <mz:attribute name="Name" type="string"/>
                <mz:attribute name="Route_type" type="int"/>
                <mz:attribute name="Realtime_mode" type="int"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Execution_Settings" type="contractfield"/>
                    <mz:element name="Throughput_MIM" type="contractfield"/>
                    <mz:element name="Debug_Type" type="contractfield"/>
                    <mz:element name="Number_of_Files_to_Keep" type="contractfield"/>
                    <mz:element name="Transaction_Handler" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.executionSettings">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="storable"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.ExecutionSettings">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="enabled" type="boolean"/>
                    <mz:element name="ecList">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="dist" type="enum"/>
                    <mz:element name="groupList">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded"/>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                    <mz:element name="autostart" type="storable"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.PicoInstanceEntity">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Name" type="string"/>
                    <mz:element name="Type" type="int"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.AutoStartSettings">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="enabled" type="boolean"/>
                    <mz:element name="instances" type="int"/>
                    <mz:element name="abort_behaviour" type="enum"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.throughputMIM">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.debugType">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="enum"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.noOfFilesToKeep">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionConfig.txnHandler">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DynamicConfigStorableDefinition">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="fields">
                        <mz:complexType>
                            <mz:complexContent>
                                <mz:extension base="list">
                                    <mz:sequence maxOccurs="unbounded">
                                        <mz:element name="value" type="storable"/>
                                    </mz:sequence>
                                </mz:extension>
                            </mz:complexContent>
                        </mz:complexType>
                    </mz:element>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.FieldDescriptorStorable">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="name" type="string"/>
                    <mz:element name="title" type="string"/>
                    <mz:element name="section" type="string"/>
                    <mz:element name="description" type="string"/>
                    <mz:element name="dynStorableKey" type="string"/>
                    <mz:element name="type" type="string"/>
                    <mz:element name="defaultValue" type="string"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Threads" type="contractfield"/>
                    <mz:element name="Queue_Size" type="contractfield"/>
                    <mz:element name="Stand-----.alone" type="contractfield"/>
                    <mz:element name="Queue_strategies" type="contractfield"/>
                    <mz:element name="Queue_worker_strategies" type="contractfield"/>
                    <mz:element name="Processed_UDRs_count_interval" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.threads">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.queueSize">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.standalone">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="boolean"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.queueStrategy">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.queueWorkerStrategy">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="string"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowExecutionRealtimeConfig.countInterval">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="Value" type="int"/>
                </mz:sequence>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowPersistentConfig">
        <mz:complexContent>
            <mz:extension base="storable">
                <mz:sequence>
                    <mz:element name="Persistent_Inspector" type="contractfield"/>
                    <mz:element name="Persistent_Timeout_Handler" type="contractfield"/>
                    <mz:element name="Persistent_Storage_Config" type="contractfield"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowPersistentConfig.PersistentInspector">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowPersistentConfig.PersistentTimeoutHandler">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.WorkflowPersistentConfig.PersistentStorageConfig">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence/>
                <mz:attribute name="pres" type="boolean"/>
                <mz:attribute name="mod" type="boolean"/>
                <mz:attribute name="active" type="boolean"/>
                <mz:attribute name="fit" type="enum"/>
                <mz:attribute name="extref_key" type="string"/>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
    <mz:complexType name="dr.DynField">
        <mz:complexContent>
            <mz:extension base="contractfield">
                <mz:sequence>
                    <mz:element name="IDs_pres" type="boolean"/>
                    <mz:element name="IDs_mod" type="boolean"/>
                    <mz:element name="IDs_active" type="boolean"/>
                    <mz:element name="IDs_fit" type="enum"/>
                    <mz:element name="IDs_extref_key" type="string"/>
                    <mz:element name="Value" type="string"/>
                    <mz:element name="RequestField_pres" type="boolean"/>
                    <mz:element name="RequestField_mod" type="boolean"/>
                    <mz:element name="RequestField_active" type="boolean"/>
                    <mz:element name="RequestField_fit" type="enum"/>
                    <mz:element name="RequestField_extref_key" type="string"/>
                </mz:sequence>
            </mz:extension>
        </mz:complexContent>
    </mz:complexType>
</mz:schema>
